---
import type { GetStaticPaths } from "astro";
import {data} from "../data/data"
import Layout from "../layouts/Layout.astro";
const {id} = Astro.params;
const item = data.find((item) => item.id === id);
export const getStaticPaths = (() => {
    const params = data.flatMap((item) => {
        return {
            params: {
                id: item.id,
                name: item.name,
                image: item.image,
                description: item.description,
            },
        };
    });
    return params;
}) satisfies GetStaticPaths;
---

<Layout title={item.name} >
    <div slot="main" class="main-content">
    <h1>{item.name}</h1>
    <img src={item.image} alt={item.name} />
    <p>{item.description}</p>
    <a href="/">Back to home</a>
    </div>
</Layout>

<style>
    .main-content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eee;
        padding: 2rem;
        border-radius: 10px;
        h1{
            font-size: 5rem;
            margin-bottom: 1rem;
        
        }
        img{
            width: 100%;
            max-width: 700px;
            margin-bottom: 1rem;
            border-radius: 10px;
        }
        p{
            margin-bottom: 1rem;
        }
        a{
            font-style: bold;
            font-size: 1.5rem;
            margin-top: 1rem;
            background-color: var(--col4);
            padding: 0.5rem 1rem;
            border-radius: 5px;
        }
    }
    
</style>