---
import type { GetStaticPaths } from "astro";
import { data } from "../data/data";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export const getStaticPaths = async () => {
    const datos = data.flat();
    return datos.map((item) => ({
        params: { id: item.id.toString() },
        props: { item },
    }));
};

const { item } = Astro.props;
---

<Layout title={item.name}>
    <div slot="main" class="container">
        <Card
            name={item.name}
            images={item.images}
            description={item.description}
            tags={item.tags}
        />
    </div>
</Layout>

<style>
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
