---
import { projects, categories } from "../data/data";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export const getStaticPaths = async () => {
    return projects.map((item) => ({
        params: { slug: item.slug },
        props: { item },
    }));
};

const { item } = Astro.props;
const cat = categories[item.category];

const ogImage = item.images?.[0]?.src ?? "/og-image.png";

const projectLd = {
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    name: item.name,
    description: item.description,
    image: item.images.map((img) =>
        new URL(img.src, "https://www.santos-studio.es").toString(),
    ),
    creator: {
        "@type": "Person",
        name: "Daniel Santos",
    },
    keywords: item.tags?.join(", "),
    isPartOf: {
        "@type": "WebSite",
        name: "Santos Studio",
        url: "https://www.santos-studio.es",
    },
};
---

<Layout
    title={item.name}
    description={item.description}
    image={ogImage}
    type="article"
    structuredData={projectLd}
>
    <div slot="main" class="container">
        <Card
            name={item.name}
            images={item.images}
            description={item.description}
            tags={item.tags}
            category={cat?.label}
        />
    </div>
</Layout>

<style>
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
