---
import Social from "./Social.astro"
import Button from "./Button.astro"
import { CONSTANTS } from "../data/constants"

const year = new Date().getFullYear()
---

<footer>
    <div class="content">
        
        <Button
            link="#"
            name={`© ${year} | ${CONSTANTS.webdata.title}`}
            type="secondary"
            color="#f7f7f7"
        />
        <div class="socials">
            <Social
                link={CONSTANTS.socials.email.url}
                logo={CONSTANTS.socials.email.icon}
                alt="Email"
            />
            <Social
                link={CONSTANTS.socials.instagram.url}
                logo={CONSTANTS.socials.instagram.icon}
                alt="Instagram"
            />
            <Social
                link={CONSTANTS.socials.github.url}
                logo={CONSTANTS.socials.github.icon}
                alt="Github"
            />
            <Social
                link={CONSTANTS.socials.linkedin.url}
                logo={CONSTANTS.socials.linkedin.icon}
                alt="Linkedin"
            />
        </div>
    </div>
</footer>

<style>
    footer {
        --height: 150px;
        margin-top: calc(var(--height) / 3);
        width: 100%;
        height: var(--height);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color: #1E1E1E;
    }
    
    .content {
        width: 100%;
        max-width: 1100px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .socials {
        display: flex;
        gap: 10px;
    }

    span, a {
        text-decoration: none;
        text-align: center;
        color: #f7f7f7;
        font-weight: 500;
    }

    @media (max-width: 600px) {
        .content {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }
    }
</style>