---
import { data } from "../data/data";
import BentoCard from "./BentoCard.astro";
import Bento from "./Bento.astro";
---

<section>
    {data.map((bento, bentoIndex) => (
      <Bento key={bentoIndex}>
            <BentoCard
              key={bento[0].id}
              url={`/${bento[0].id}`}
              title={bento[0].name}
              image={bento[0].image}
              description={bento[0].description}
              slot="slot1" 
            />
            <BentoCard
              key={bento[1].id}
              url={`/${bento[1].id}`}
              title={bento[1].name}
              image={bento[1].image}
              description={bento[1].description}
              slot="slot2" 
            />
            <BentoCard
              key={bento[2].id}
              url={`/${bento[2].id}`}
              title={bento[2].name}
              image={bento[2].image}
              description={bento[2].description}
              slot="slot3"
            />
            <BentoCard
              key={bento[3].id}
              url={`/${bento[3].id}`}
              title={bento[3].name}
              image={bento[3].image}
              description={bento[3].description}
              slot="slot4" 
            />
      </Bento>
    ))}
    <div class="blur"></div>
</section>

<style>
  section {
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%); */
  }

  .blur {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 100%);
    background-color: rgb(255, 255, 255);
    z-index: 10;
    pointer-events: none;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: fadeOut;

    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-range: entry 25% cover 30%;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
